---
import ExampleComponent from "../components/ExampleComponent.vue";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UnoCSS + Astro + Vue example</title>
  </head>
  <body>
    <main>
      <!-- With `client:only="vue"`, UnoCSS stops working -->
      <ExampleComponent client:only="vue" />
    </main>
  </body>
</html>
